parameters:
    level: 8
    paths:
        - src
        - tests
        - webroot
    bootstrapFiles:
        - tests/bootstrap.php
    earlyTerminatingMethodCalls:
        Cake\Console\Shell:
            - abort
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#does not accept PHPUnit\\Framework\\MockObject\\MockObject\.$#'
includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/timeweb/phpstan-enum/extension.neon
